.logInForm{
  display:flex;
  justify-content:center;
  flex-direction: column;
  width:50%;
  margin:0 auto;
  margin-top:50px;
  color:white;
  padding-left:220px;
  padding-right:220px;
  padding-bottom:110px;
  border-radius:25px;

}


#username{
  font-size:20px;
}
#password{
  font-size:20px;
}
.signIn{
  margin-top:25px;
  text-align:center;

}
.signInButton:hover{
  cursor:pointer;
  transform: scale(1);
}
.signInButton{
  background-color:#00ce00;
  margin-top:15px;
  color:white;
  padding:8px;
  border:0;
  box-shadow:2px 1px 8px black;
  transition:all .5 s ;
  margin-bottom:10px;
}
.registerButton{
  margin-top:15px;
  background-color:rgb(55, 66, 214);
  color: white;
  padding:8px;
  border:0;
  box-shadow:2px 2px 8px black;
  transition:all .9s ;
}
.title{
  text-align:center;
}
#home1{
  padding-top: 10px;
  padding-bottom: 200px;
  background-image: url(http://www.bhmpics.com/walls/cricket_ball_in_the_grass-wide.jpg);
}

#home{

  padding-bottom: 700px;
  background-image: url('../images/15522893.jpg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}